In [1]:
#Script for cleaning combine.csv file inside reosurces folder
#Developed by Cuitlahuac Daniel Maldonado Ruiz

#Importing dependencies
import os
import pandas as pd
import numpy as np

In [2]:
#Files path
inputFile = os.path.join("..", "Resources", "combine.csv")
outputFile = os.path.join("..", "Clean_Data", "combine.csv")

In [3]:
#Reading csv file into dataframe
combine_df = pd.read_csv(inputFile)

#Narrowing dataframe for players combineYear >= 2010
combine_df = combine_df.loc[combine_df["combineYear"] >= 2010]
combine_df

,combineId,playerId,combineYear,combinePosition,combineHeight,combineWeight,combineHand,nameFirst,nameLast,nameFull,...,hsCountry,combineArm,combine40yd,combineVert,combineBench,combineShuttle,combineBroad,combine3cone,combine60ydShuttle,combineWonderlic
7058,17059,20100700,2010,WR,75.38,204,NaN,Seyi,Ajirotutu,Seyi Ajirotutu,...,USA,NaN,4.60,36.0,14.0,4.39,115.0,7.22,NaN,NaN
7059,17060,20101101,2010,DE,74.63,251,NaN,Rahim,Alem,Rahim Alem,...,NaN,NaN,4.75,30.5,NaN,4.80,106.0,7.54,NaN,NaN
7060,17061,20100037,2010,FS,72.50,207,NaN,Nate,Allen,Nate Allen,...,USA,NaN,4.50,NaN,16.0,NaN,NaN,NaN,NaN,NaN
7061,17062,20100010,2010,DE,74.38,295,NaN,Tyson,Alualu,Tyson Alualu,...,USA,NaN,4.87,35.5,21.0,4.43,116.0,7.15,NaN,NaN
7062,17063,20100522,2010,FS,72.75,203,NaN,Jonathon,Amaya,Jonathon Amaya,...,USA,NaN,4.51,28.0,8.0,NaN,118.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10075,20496,20190754,2019,S,72.00,209,NaN,Andrew,Wingard,Andrew Wingard,...,NaN,NaN,4.56,36.5,9.0,4.20,121.0,7.08,NaN,NaN
10076,20497,20190077,2019,EDG,75.00,256,NaN,Chase,Winovich,Chase Winovich,...,USA,NaN,4.59,30.5,18.0,4.11,116.0,6.94,NaN,NaN
10077,20498,20190110,2019,P,74.00,218,NaN,Mitch,Wishnowsky,Mitch Wishnowsky,...,Australia,NaN,4.63,32.5,NaN,NaN,117.0,NaN,NaN,NaN
10078,20499,20190755,2019,S,71.00,205,NaN,Zedrick,Woods,Zedrick Woods,...,NaN,NaN,4.29,34.5,19.0,4.15,122.0,7.00,NaN,NaN
10079,20500,20191010,2019,S,74.00,212,NaN,Evan,Worthington,Evan Worthington,...,NaN,NaN,4.63,33.5,17.0,4.37,121.0,7.07,NaN,NaN

In [4]:
#Creating a new dataframe only with needed columns
combine_df = combine_df[["playerId", "nameFull", "position", "collegeId", "college", "heightInches", "weight", "ageAtDraft"]]
combine_df

#Cleaning blank and NaN data
narrowed_df = combine_df.replace(r'^\s*$', np.NaN, regex=True)
narrowed_df.dropna(how="any", inplace=True)
narrowed_df

,playerId,nameFull,position,collegeId,college,heightInches,weight,ageAtDraft
7058,20100700,Seyi Ajirotutu,WR,93740.0,Frenso State (CA),75.0,215.0,22.876712
7060,20100037,Nate Allen,S,33620.0,South Florida,73.0,214.0,22.408219
7061,20100010,Tyson Alualu,DT,94720.0,California,75.0,304.0,22.961644
7062,20100522,Jonathon Amaya,S,89557.0,Nevada,74.0,205.0,21.419178
7063,20100063,Pat Angerer,LB,52242.0,Iowa,72.0,236.0,23.238356
...,...,...,...,...,...,...,...,...
10075,20190754,Andrew Wingard,DB,82071.0,Wyoming,72.0,209.0,22.408219
10076,20190077,Chase Winovich,DE,48109.0,Michigan,75.0,250.0,24.041096
10077,20190110,Mitch Wishnowsky,P,84112.0,Utah,74.0,221.0,27.172603
10078,20190755,Zedrick Woods,DB,38677.0,Mississippi,71.0,203.0,21.747945
10079,20191010,Evan Worthington,S,80309.0,Colorado,74.0,200.0,23.624658

In [5]:
#Formatting datatypes of columns
narrowed_df = narrowed_df.astype({"collegeId":"int64"})
narrowed_df = narrowed_df.astype({"ageAtDraft":"int32"})
narrowed_df

,playerId,nameFull,position,collegeId,college,heightInches,weight,ageAtDraft
7058,20100700,Seyi Ajirotutu,WR,93740,Frenso State (CA),75.0,215.0,22
7060,20100037,Nate Allen,S,33620,South Florida,73.0,214.0,22
7061,20100010,Tyson Alualu,DT,94720,California,75.0,304.0,22
7062,20100522,Jonathon Amaya,S,89557,Nevada,74.0,205.0,21
7063,20100063,Pat Angerer,LB,52242,Iowa,72.0,236.0,23
...,...,...,...,...,...,...,...,...
10075,20190754,Andrew Wingard,DB,82071,Wyoming,72.0,209.0,22
10076,20190077,Chase Winovich,DE,48109,Michigan,75.0,250.0,24
10077,20190110,Mitch Wishnowsky,P,84112,Utah,74.0,221.0,27
10078,20190755,Zedrick Woods,DB,38677,Mississippi,71.0,203.0,21
10079,20191010,Evan Worthington,S,80309,Colorado,74.0,200.0,23

In [6]:
#Wrtiting new csv file with cleaned and narrowed data
narrowed_df.to_csv(outputFile, index=False, header=True)