In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
input_file_draft = os.path.join("..","Clean_Data","draft.csv")
input_file_fumbl = os.path.join("..","Clean_Data","fumblForced.csv")
input_file_games = os.path.join("..","Clean_Data","games.csv")
input_file_interceptions = os.path.join("..","Clean_Data","interceptions.csv")
input_file_players = os.path.join("..","Clean_Data","players.csv")
input_file_plays = os.path.join("..","Clean_Data","plays.csv")
input_file_sacks = os.path.join("..","Clean_Data","sacks.csv")

output_file_int = os.path.join("..","Clean_Data","int_combined.csv")
output_file_sacks = os.path.join("..","Clean_Data","sacks_combined.csv")
output_file_fumbl = os.path.join("..","Clean_Data","fumbl_combined.csv")
output_file_nfl = os.path.join("..","Clean_Data","nlf_combined.csv")

In [3]:
draft_df = pd.read_csv(input_file_draft)
draft_df = draft_df.rename(columns={'teamId':'DraftTeamId'})
draft_df.head(200)

     playerId  DraftTeamId  draftTradeValue
0    19770001         4900           3000.0
1    19770002         1200           2600.0
2    19770003          920           2200.0
3    19770004         3430           1800.0
4    19770005         3410           1700.0
..        ...          ...              ...
195  19770196         4900             13.0
196  19770197          610             12.6
197  19770198         2100             12.2
198  19770199         3410             11.8
199  19770200         3430             11.4

[200 rows x 3 columns]

In [4]:
fumbl_df = pd.read_csv(input_file_fumbl)
fumbl_df = fumbl_df.rename(columns={'teamId':'FumblTeamId'})
fumbl_df.head()

,playId,FumblTeamId,playerId,fumForcedPosition,fumForcedTurnover,fumForcedNull
0,8000002,3800,20100047,LB,1,0
1,8000241,810,20070010,DT,0,0
2,8000317,810,20020002,DE,0,0
3,8000419,1400,20120478,MLB,1,0
4,8000676,2700,20120072,DE,0,0

In [5]:
games_df = pd.read_csv(input_file_games)
games_df.head()

,gameId,season,gameDate,homeTeamId,visitorTeamId,seasonType,winningTeam
0,55504,2012,2012-09-05,3410,1200,REG,1200
1,55508,2012,2012-09-09,2120,2700,REG,2120
2,55509,2012,2012-09-09,2310,200,REG,200
3,55510,2012,2012-09-09,3000,2250,REG,3000
4,55505,2012,2012-09-09,810,2200,REG,810

In [6]:
interceptions_df = pd.read_csv(input_file_interceptions)
interceptions_df = interceptions_df.rename(columns={'teamId':'IntTeamId'})
interceptions_df.head()

     playId  IntTeamId  playerId intPosition  int  intYards  intTd  intNull
0  10000022        920  20030005          CB    1        54      1        0
1  10000169        920  20130118          LB    1         3      0        0
2  10000207       1540  20110510          LB    1        17      0        0
3  10000235       1540  20100477          CB    1        25      0        0
4  10000266       3800  20090095           S    1         0      0        0

In [7]:
players_df = pd.read_csv(input_file_players)
players_df
# players_df.loc[players_df['playerId']==20100001]

,playerId,nameFull,position,collegeId,college,ageAtDraft
0,19770001,Ricky Bell,RB,90089,USC,22.084932
1,19770002,Tony Dorsett,RB,15260,Pittsburgh,23.087671
2,19770003,Eddie Edwards,DE,33124,Miami (FL),23.038356
3,19770004,Marvin Powell,OT,90089,USC,21.690411
4,19770005,Gary Jeter,DE,90089,USC,22.287671
...,...,...,...,...,...,...
20220,20191194,Fisayo Awolaja,OG,80631,Northern Colorado,22.701370
20221,20191195,Quart'e Sapp,LB,37998,Tennessee,22.153425
20222,20191196,Kirk Barron,C,47906,Purdue,23.917808
20223,20191198,Jordan Holland,DB,77030,Prairie View A&M,24.136986
20224,20191200,Tavonn Salter,WR,37130,Middle Tennessee State,23.172603

In [8]:
sacks_df = pd.read_csv(input_file_sacks)
sacks_df = sacks_df.rename(columns={'teamId':'SacksTeamId'})
sacks_df.head()

     playId  SacksTeamId  playerId sackPosition  sackType  sackYards  sackNull
0  10000138          920  20140088           DE         1         -5         0
1  10000209         3800  20130103           LB         1         -2         0
2  10000246         3800  20130103           LB         1         -7         0
3  10000291         3800  20060091           DE         1         -5         0
4  10000301         3800  20090092           CB         1         -5         0

In [9]:
plays_df = pd.read_csv(input_file_plays)
plays_df.head(200)

      playId  gameId
0    8035679   55504
1    8035680   55504
2    8035681   55504
3    8035682   55504
4    8035683   55504
..       ...     ...
195  8009764   55505
196  8009765   55505
197  8009766   55505
198  8009767   55505
199  8009768   55505

[200 rows x 2 columns]

In [10]:
int_merged_df = pd.DataFrame(pd.merge(players_df,interceptions_df,how='left',on='playerId'))
int_merged_df = pd.merge(int_merged_df,plays_df,how='left',on='playId')
int_merged_df = pd.merge(int_merged_df,games_df,how='left',on='gameId')
int_merged_df = pd.merge(int_merged_df,draft_df,how='left',on='playerId')
int_merged_df = int_merged_df.dropna().drop_duplicates(subset='playId')
int_merged_df = int_merged_df.loc[int_merged_df["season"] >= 2014]
display(int_merged_df)
int_merged_df.count()

,playerId,nameFull,position,collegeId,college,ageAtDraft,playId,IntTeamId,intPosition,int,...,intNull,gameId,season,gameDate,homeTeamId,visitorTeamId,seasonType,winningTeam,DraftTeamId,draftTradeValue
5804,19980004,Charles Woodson,DB,48109,Michigan,21.542466,10039250.0,2520.0,S,1.0,...,0.0,56177.0,2014.0,2014-09-07,3430.0,2520.0,REG,3430.0,2520.0,1800.0
5805,19980004,Charles Woodson,DB,48109,Michigan,21.542466,10039607.0,2520.0,S,1.0,...,0.0,56273.0,2014.0,2014-10-19,2520.0,3800.0,REG,3800.0,2520.0,1800.0
5806,19980004,Charles Woodson,DB,48109,Michigan,21.542466,10039719.0,2520.0,S,1.0,...,0.0,56407.0,2014.0,2014-12-21,2520.0,610.0,REG,2520.0,2520.0,1800.0
5807,19980004,Charles Woodson,DB,48109,Michigan,21.542466,10041214.0,2520.0,S,1.0,...,0.0,56374.0,2014.0,2014-12-07,2520.0,4500.0,REG,2520.0,2520.0,1800.0
7428,20020002,Julius Peppers,DE,27599,North Carolina,22.268493,10019714.0,1800.0,LB,1.0,...,0.0,56231.0,2014.0,2014-10-02,1800.0,3000.0,REG,1800.0,750.0,2600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23081,20190146,Amani Oruwariye,DB,16802,Penn State,23.230137,15063685.0,1540.0,CB,1.0,...,0.0,58070.0,2019.0,2019-11-24,5110.0,1540.0,REG,5110.0,1540.0,33.0
23082,20190146,Amani Oruwariye,DB,16802,Penn State,23.230137,15082946.0,1540.0,CB,1.0,...,0.0,58145.0,2019.0,2019-12-29,1540.0,1800.0,REG,1800.0,1540.0,33.0
23086,20190148,Dre Greenlaw,LB,72701,Arkansas,21.939726,15055130.0,4500.0,LB,1.0,...,0.0,58047.0,2019.0,2019-11-11,4500.0,4600.0,REG,4600.0,4500.0,32.2
23096,20190155,Mack Wilson,LB,35487,Alabama,21.213699,15073732.0,1050.0,LB,1.0,...,0.0,58118.0,2019.0,2019-12-15,3800.0,1050.0,REG,3800.0,1050.0,29.4
23147,20190201,Rashad Fenton,DB,29208,South Carolina,22.205479,15058331.0,2310.0,DB,1.0,...,0.0,58061.0,2019.0,2019-11-18,4400.0,2310.0,REG,2310.0,2310.0,11.0

playerId           1044
nameFull           1044
position           1044
collegeId          1044
college            1044
ageAtDraft         1044
playId             1044
IntTeamId          1044
intPosition        1044
int                1044
intYards           1044
intTd              1044
intNull            1044
gameId             1044
season             1044
gameDate           1044
homeTeamId         1044
visitorTeamId      1044
seasonType         1044
winningTeam        1044
DraftTeamId        1044
draftTradeValue    1044
dtype: int64

In [11]:
fumbl_merged_df = pd.DataFrame(pd.merge(players_df,fumbl_df,how='left',on='playerId'))
fumbl_merged_df = pd.merge(fumbl_merged_df,plays_df,how='left',on='playId')
fumbl_merged_df = pd.merge(fumbl_merged_df,games_df,how='left',on='gameId')
fumbl_merged_df = pd.merge(fumbl_merged_df,draft_df,how='left',on='playerId')
fumbl_merged_df = fumbl_merged_df.dropna().drop_duplicates(subset='playId')
fumbl_merged_df = fumbl_merged_df.loc[fumbl_merged_df["season"] >= 2014]
display(fumbl_merged_df)
fumbl_merged_df.count()

,playerId,nameFull,position,collegeId,college,ageAtDraft,playId,FumblTeamId,fumForcedPosition,fumForcedTurnover,fumForcedNull,gameId,season,gameDate,homeTeamId,visitorTeamId,seasonType,winningTeam,DraftTeamId,draftTradeValue
5810,19980004,Charles Woodson,DB,48109,Michigan,21.542466,11041142.0,2520.0,S,1.0,0.0,56690.0,2015.0,2015-12-06,2520.0,2310.0,REG,2310.0,2520.0,1800.0
6974,20010004,Justin Smith,DE,65211,Missouri,21.572603,10049131.0,4500.0,DT,0.0,0.0,56243.0,2014.0,2014-10-05,4500.0,2310.0,REG,4500.0,920.0,1800.0
6975,20010004,Justin Smith,DE,65211,Missouri,21.572603,10050193.0,4500.0,DT,1.0,0.0,56343.0,2014.0,2014-11-23,4500.0,5110.0,REG,4500.0,920.0,1800.0
7447,20020002,Julius Peppers,DE,27599,North Carolina,22.268493,10005254.0,1800.0,LB,0.0,0.0,56381.0,2014.0,2014-12-14,610.0,1800.0,REG,610.0,750.0,2600.0
7448,20020002,Julius Peppers,DE,27599,North Carolina,22.268493,10017652.0,1800.0,LB,1.0,0.0,56206.0,2014.0,2014-09-21,1540.0,1800.0,REG,1540.0,750.0,2600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22910,20190161,Charles Omenihu,DE,78712,Texas,21.701370,15038050.0,2120.0,DE,1.0,0.0,57983.0,2019.0,2019-10-13,2310.0,2120.0,REG,2120.0,2100.0,27.0
22922,20190173,Cole Holcomb,LB,27599,North Carolina,22.758904,15046596.0,5110.0,LB,1.0,0.0,58006.0,2019.0,2019-10-24,3000.0,5110.0,REG,3000.0,5110.0,22.2
22939,20190190,Armon Watts,DT,72701,Arkansas,22.780822,15083736.0,3000.0,DT,0.0,0.0,58149.0,2019.0,2019-12-29,3000.0,810.0,REG,810.0,3000.0,15.4
22945,20190196,Blessuan Austin,DB,7102,Rutgers,22.789041,15054604.0,3430.0,DB,1.0,0.0,58041.0,2019.0,2019-11-10,3430.0,3410.0,REG,3430.0,3430.0,13.0
22950,20190201,Rashad Fenton,DB,29208,South Carolina,22.205479,15067358.0,2310.0,DB,1.0,0.0,58084.0,2019.0,2019-12-01,2310.0,2520.0,REG,2310.0,2310.0,11.0

playerId             2176
nameFull             2176
position             2176
collegeId            2176
college              2176
ageAtDraft           2176
playId               2176
FumblTeamId          2176
fumForcedPosition    2176
fumForcedTurnover    2176
fumForcedNull        2176
gameId               2176
season               2176
gameDate             2176
homeTeamId           2176
visitorTeamId        2176
seasonType           2176
winningTeam          2176
DraftTeamId          2176
draftTradeValue      2176
dtype: int64

In [12]:
sacks_merged_df = pd.DataFrame(pd.merge(players_df,sacks_df,how='left',on='playerId'))
sacks_merged_df = pd.merge(sacks_merged_df,plays_df,how='left',on='playId')
sacks_merged_df = pd.merge(sacks_merged_df,games_df,how='left',on='gameId')
sacks_merged_df = pd.merge(sacks_merged_df,draft_df,how='left',on='playerId')
sacks_merged_df = sacks_merged_df.dropna().drop_duplicates(subset='playId')
sacks_merged_df = sacks_merged_df.loc[sacks_merged_df["season"] >= 2014]
display(sacks_merged_df)
sacks_merged_df.count()

,playerId,nameFull,position,collegeId,college,ageAtDraft,playId,SacksTeamId,sackPosition,sackType,...,sackNull,gameId,season,gameDate,homeTeamId,visitorTeamId,seasonType,winningTeam,DraftTeamId,draftTradeValue
5804,19980004,Charles Woodson,DB,48109,Michigan,21.542466,10040484.0,2520.0,S,1.0,...,0.0,56331.0,2014.0,2014-11-20,2520.0,2310.0,REG,2520.0,2520.0,1800.00
6955,20010004,Justin Smith,DE,65211,Missouri,21.572603,10014891.0,4500.0,DT,1.0,...,0.0,56181.0,2014.0,2014-09-07,1200.0,4500.0,REG,4500.0,920.0,1800.00
6956,20010004,Justin Smith,DE,65211,Missouri,21.572603,10014973.0,4500.0,DT,1.0,...,0.0,56181.0,2014.0,2014-09-07,1200.0,4500.0,REG,4500.0,920.0,1800.00
6957,20010004,Justin Smith,DE,65211,Missouri,21.572603,10048780.0,4500.0,DT,1.0,...,0.0,56200.0,2014.0,2014-09-14,4500.0,810.0,REG,810.0,920.0,1800.00
6958,20010004,Justin Smith,DE,65211,Missouri,21.572603,10049993.0,4500.0,DT,1.0,...,0.0,56348.0,2014.0,2014-11-27,4500.0,4600.0,REG,4600.0,920.0,1800.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29809,20190161,Charles Omenihu,DE,78712,Texas,21.701370,15076106.0,2120.0,DE,1.0,...,0.0,58116.0,2019.0,2019-12-15,2100.0,2120.0,REG,2120.0,2100.0,27.00
29824,20190173,Cole Holcomb,LB,27599,North Carolina,22.758904,15063620.0,5110.0,LB,1.0,...,0.0,58070.0,2019.0,2019-11-24,5110.0,1540.0,REG,5110.0,5110.0,22.20
29843,20190190,Armon Watts,DT,72701,Arkansas,22.780822,15083736.0,3000.0,DT,1.0,...,0.0,58149.0,2019.0,2019-12-29,3000.0,810.0,REG,810.0,3000.0,15.40
29855,20190201,Rashad Fenton,DB,29208,South Carolina,22.205479,15087386.0,2310.0,DB,1.0,...,0.0,58162.0,2019.0,2020-01-12,2310.0,2120.0,POST,2310.0,2310.0,11.00
29886,20190225,Darryl Johnson,DE,27411,North Carolina A&T,22.079452,15035199.0,610.0,DE,1.0,...,0.0,57972.0,2019.0,2019-10-06,2100.0,610.0,REG,610.0,610.0,1.96

playerId           3154
nameFull           3154
position           3154
collegeId          3154
college            3154
ageAtDraft         3154
playId             3154
SacksTeamId        3154
sackPosition       3154
sackType           3154
sackYards          3154
sackNull           3154
gameId             3154
season             3154
gameDate           3154
homeTeamId         3154
visitorTeamId      3154
seasonType         3154
winningTeam        3154
DraftTeamId        3154
draftTradeValue    3154
dtype: int64

In [13]:
nfl_merged_df = pd.concat([int_merged_df,sacks_merged_df], sort = False)
nfl_merged_df = pd.concat([nfl_merged_df,fumbl_merged_df], sort = False)
display(nfl_merged_df)
nfl_merged_df.count()

,playerId,nameFull,position,collegeId,college,ageAtDraft,playId,IntTeamId,intPosition,int,...,draftTradeValue,SacksTeamId,sackPosition,sackType,sackYards,sackNull,FumblTeamId,fumForcedPosition,fumForcedTurnover,fumForcedNull
5804,19980004,Charles Woodson,DB,48109,Michigan,21.542466,10039250.0,2520.0,S,1.0,...,1800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5805,19980004,Charles Woodson,DB,48109,Michigan,21.542466,10039607.0,2520.0,S,1.0,...,1800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5806,19980004,Charles Woodson,DB,48109,Michigan,21.542466,10039719.0,2520.0,S,1.0,...,1800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5807,19980004,Charles Woodson,DB,48109,Michigan,21.542466,10041214.0,2520.0,S,1.0,...,1800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7428,20020002,Julius Peppers,DE,27599,North Carolina,22.268493,10019714.0,1800.0,LB,1.0,...,2600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22910,20190161,Charles Omenihu,DE,78712,Texas,21.701370,15038050.0,NaN,NaN,NaN,...,27.0,NaN,NaN,NaN,NaN,NaN,2120.0,DE,1.0,0.0
22922,20190173,Cole Holcomb,LB,27599,North Carolina,22.758904,15046596.0,NaN,NaN,NaN,...,22.2,NaN,NaN,NaN,NaN,NaN,5110.0,LB,1.0,0.0
22939,20190190,Armon Watts,DT,72701,Arkansas,22.780822,15083736.0,NaN,NaN,NaN,...,15.4,NaN,NaN,NaN,NaN,NaN,3000.0,DT,0.0,0.0
22945,20190196,Blessuan Austin,DB,7102,Rutgers,22.789041,15054604.0,NaN,NaN,NaN,...,13.0,NaN,NaN,NaN,NaN,NaN,3430.0,DB,1.0,0.0
22950,20190201,Rashad Fenton,DB,29208,South Carolina,22.205479,15067358.0,NaN,NaN,NaN,...,11.0,NaN,NaN,NaN,NaN,NaN,2310.0,DB,1.0,0.0

playerId             6374
nameFull             6374
position             6374
collegeId            6374
college              6374
ageAtDraft           6374
playId               6374
IntTeamId            1044
intPosition          1044
int                  1044
intYards             1044
intTd                1044
intNull              1044
gameId               6374
season               6374
gameDate             6374
homeTeamId           6374
visitorTeamId        6374
seasonType           6374
winningTeam          6374
DraftTeamId          6374
draftTradeValue      6374
SacksTeamId          3154
sackPosition         3154
sackType             3154
sackYards            3154
sackNull             3154
FumblTeamId          2176
fumForcedPosition    2176
fumForcedTurnover    2176
fumForcedNull        2176
dtype: int64

In [14]:
col = list(nfl_merged_df.columns)
for each_col in col:
    null_value = len(nfl_merged_df.loc[nfl_merged_df[each_col].isnull()])
    print(f"Filas vacias en {each_col}: {null_value}")

Filas vacias en playerId: 0
Filas vacias en nameFull: 0
Filas vacias en position: 0
Filas vacias en collegeId: 0
Filas vacias en college: 0
Filas vacias en ageAtDraft: 0
Filas vacias en playId: 0
Filas vacias en IntTeamId: 5330
Filas vacias en intPosition: 5330
Filas vacias en int: 5330
Filas vacias en intYards: 5330
Filas vacias en intTd: 5330
Filas vacias en intNull: 5330
Filas vacias en gameId: 0
Filas vacias en season: 0
Filas vacias en gameDate: 0
Filas vacias en homeTeamId: 0
Filas vacias en visitorTeamId: 0
Filas vacias en seasonType: 0
Filas vacias en winningTeam: 0
Filas vacias en DraftTeamId: 0
Filas vacias en draftTradeValue: 0
Filas vacias en SacksTeamId: 3220
Filas vacias en sackPosition: 3220
Filas vacias en sackType: 3220
Filas vacias en sackYards: 3220
Filas vacias en sackNull: 3220
Filas vacias en FumblTeamId: 4198
Filas vacias en fumForcedPosition: 4198
Filas vacias en fumForcedTurnover: 4198
Filas vacias en fumForcedNull: 4198

In [15]:
int_merged_df.to_csv(output_file_int,index=False,header=True)
sacks_merged_df.to_csv(output_file_sacks,index=False,header=True)
fumbl_merged_df.to_csv(output_file_fumbl,index=False,header=True)
nfl_merged_df.to_csv(output_file_nfl,index=False,header=True)